p {
	background-color: rgb(180, 222, 240);
	font-style:bold;
	padding: 5%;
}

.header {
    background-color: rgb(180, 222, 240);
	padding:1% 2%;
}

.footer {
    background-color: rgb(180, 222, 240);
	padding:1% 2%;
	margin-top:2%;
	margin-bottom:5%;
}

.solid{
	background-color: rgb(146, 127, 191);
	margin:1.5%;
} 