body {
	background: rgb(14, 36, 45);
	color:rgb(13, 91, 64);
}

p {
	background-color: rgb(255,255,255);
	font-style:bold;
	padding: 5%;
}

.header {
    background-color: rgb(36, 59, 77);
	padding:1% 2%;
}

.footer {
    background-color: rgb(36, 59, 77);
	padding:1% 2%;
}

.entireBody{
	margin:3%
	color:rgb(255,255,0);
}