body {
	background: rgb(54, 59, 78);
	color:rgb(196, 187, 240);
}

p {
	background-color: rgb(79, 59, 120);
	font-style:bold;
	padding: 5%;
}

.header {
    background-color: rgb(79, 59, 120);
	padding:1% 2%;
}

.footer {
    background-color: rgb(79, 59, 120);
	padding:1% 2%;
	margin-top:2%;
	margin-bottom:5%;
}

.solid{
	background-color: rgb(146, 127, 191);
	margin:0.5%;
}