/*background color changes the entire background, page-wide
inner body only changes the entire text content background */

@font-face {
  font-family: secretFont;
  src: url(/fonts/secretfont.ttf);
}

:root {
	--background-color: rgb(47,79,79);
	--header-background:rgb(95,96,133);
	--inner-body: white;
	--text-color: black;
}

[data-theme="dark"] {
	--background-color: rgb(47,79,79);
	--header-background: rgb(95,96,133);
	--inner-body: rgb(64,64,64);
	--text-color: white;
}

#header{
	margin:2%;
	padding:2%;
	background-color: var(--header-background);
}

#footer{
	margin:2%;
	padding:2%;
}

body{
	background-color:var(--background-color);
	margin:2%;
	padding:2%;
}

.entireBody{
	margin:5%;
	padding:2%;
	background-color: var(--inner-body);
	color: var(--text-color);	
}

.solid{
	background-color: rgb(146, 127, 191);
	margin:1.5%;
}

#languageLabel{
	margin:1%;
}